<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for(:title) || "InSL Homepage" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom', media: 'all' %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar fixed-top">
      <div class="container"> <!-- Added container to limit width -->
        <a class="navbar-brand" href="/">
          <%= image_tag 'file.jpg', alt: 'InSL e.V.' %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav w-100 d-flex justify-content-between">
            <!-- Dropdown for "Über die InSL" -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Über die InSL
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/team">Unser Team</a>
                <a class="dropdown-item" href="/vision">Unsere Vision</a>
                <a class="dropdown-item" href="/offene_stellen">Offene Stellen</a>
                <a class="dropdown-item" href="/wirkungsbericht">Wirkungsbericht</a>
              </div>
            </li>

            <!-- Unser Angebot Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUnserAngebot" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Unser Angebot
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownUnserAngebot">
                <a class="dropdown-item" href="/sprachpiraten">Sprachpiraten</a>
                <a class="dropdown-item" href="/sprachdetektive">Sprachdetektive</a>
                <a class="dropdown-item" href="/sprachforscher">Sprachforscher</a>
                <a class="dropdown-item" href="/online_sprachkurse">Online-Sprachkurse</a>
                <a class="dropdown-item" href="/sprachtraining_4_you">Deutsch 4 You</a>
                <a class="dropdown-item" href="/fortbildungen">Fortbildungen</a>
                <a class="dropdown-item" href="/about">Netzwerk</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/bildungssprache">Was ist Bildungssprache?</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="/spenden">Spenden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Kontakt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div class="container mt-5 pt-5">
      <%= yield %>
    </div>

    <footer class="bg-dark text-white text-center sticky-footer py-3 mt-auto">
      © InSL e.V. | <a class="" href="/contact">Kontakt</a> | <a class="" href="/impressum">Impressum</a> | <a class="" href="/datenschutz">Datenschutz</a>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
